<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="../menu.js"></script>

    <link rel="stylesheet" href="/Design/login.css">
    <link rel="shortcut icon" href="/Img/Logo-modified.png" type="image/x-icon">
    <title>Lima Limon</title>
</head>
<body>
    <header>

        
        <section id="head">
            
            <nav class="nav">
                <ul class="nav-list">
                   
                    <li><a href="/Eventos.html">Eventos</a>  </li>
                    <li><a href="/Noticias.html">Noticias</a>  </li>
                        
                  
                </ul>
            </nav>
            
            <a href="/"><img src="/Img/Logo-modified.png" id="logo"></a>
            
            <nav class="nav">
                <ul class="nav-list">
                    
                    <li><a href="/Contacto.html">Contacto</a></li>
                    <li><a href="/Login.html">Login</a></li>
                    
                </ul>
            </nav>

        </section>
        
        <section class="line"></section>

    </header>
    <main>
        
        <p id="subtitle"> Contacto </p>
        <p class="subtitle2"> Escríbanos su consulta... estaremos encantados de responderle a la brevedad. </p>
        <p class="subtitle2"> Horarios de atencion: Martes a Sábados 16:30 a 20:30 </p>
        
        <Section id="cuerpo">

            
            <form action="" method="get">
                
                <label for="">Usuario</label>
                <input type="text" name="user" class="inputss">
                
                <label for="">Contraseña</label>
                <input type="password" name="passs" class="inputss">

            </form>
            <button type="submit" id="boton">Enviar</button>
         
            
        </Section>
    </main>
    <footer>

        <section class="line2"></section>

        <section id="foot">

            <article id="redes">
                <img src="/Img/Facebook icon.png" class="social">
                <img src="/Img/ig.png" class="social">
                <img src="/Img/X.png" class="social">
            </article>

            <p>Telefono: 11 2890-3032</p>

            <p>Direccion: Av.Sarmiento 890</p>

        </section>

    </footer>
</body>
</html>